
*{
  margin: 0;
}
body{
  font-family: serif;
}
.contener{
  margin-top: 73px;
  max-width: 1280px;
  margin: 0 auto;
}
.mainContener{
  display: flex;
  flex-direction: column;
  height:calc(100vh - 72px);
  justify-content: end;
}
